<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Please enter your available dates</h2>
    <form action="/schedule" method="POST">
        <label>Dates:
            <input type="date" name="title">
            <button>Add More</button>
        </label><br>
        <input type="submit" value="Add Dates">
</form>
</body>

</html>