<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to the <%= title %></h1>
  <form>
    <div class='form-group'>
      <label>Full Name:</label>
      <input type="text" class="form-control" name="name">
      <label>E-mail:</label>
      <input type="text" class="form-control" name="email">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" formaction="/">Sign up</button>
  </form><br>
  <div class="create">
    <button>
      <a href="date/new">Create a new Schedule 
      </a>
    </button>
  </div><br>
  <div class="onGoing">
    <button>
       <!-- <a href="/app/new">-->View On-going Plans
    </button>
  </div>
</body>

</html>