<!-- <!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to the <%= title %></h1>
  <form method="POST" action="schedule/users">
    <div class='form-group' id='signup'>
      <label for="name">Full Name:</label>
      <input type="text" class="form-control" name="name">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" name="email">
    </div>
    <button type="submit" class="btn btn-primary" formaction="/">Sign up</button>
  </form><br>

</body>

</html>

<div class="create">
  <button>
    <a href="date/new">Create a new Schedule 
    </a>
  </button>
</div><br>
<div class="onGoing">
  <button>
     <a href="user/new">View On-going Plans
  </button>
</div> --> 