<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the <%= title %></h1>
    <div class = "create">
      <button> 
        Create a new Schedule
      </button>
    </div>
    <div class = "onGoing">
      <button>
      View On-going Plans
    </button>
    </div>
  </body>
</html>
