<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to the <%= title %></h1>
  <section>
    <div class="newUser">
      <label>Name:</label>
      <input type="text" name="username">
      <label>E-mail:</label>
      <input type="text" name="email">
      <button>Sign up</button>
    </div><br>

    <div class="create">
      <button>
        <a href="date/new">Create a new Schedule 
        </a>
      </button>
    </div><br>
    <div class="onGoing">
      <button>
         <!-- <a href="/app/new">-->View On-going Plans
      </button>
    </div>
  </section>
</body>

</html>