<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> <%= title %></h1>
    <form method="POST">
        <div id="main-section">
            <div class="create">
                <button>
                    <a href="/date">Create a new Schedule</a>
                </button>
            </div><br>
            <div class="onGoing">
                <button>
                    <a href="">View On-going Plans</a>
                </button>
            </div>
        </div>
    </form>

</body>

</html>