<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <form method="POST" action="/">
    <div class='form-group' id='signup'>
        <label for="name">Full Name:</label>
        <input type="text" class="form-control" name="name">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" name="email">
        <input type="submit" value="Submit">
  </form><br>

</body>

</html>